@page "/users/{UserName}/tierlist"
@inject NavigationManager NavigationManager
@inject IApiService ApiService
@inject ISnackbar Snackbar

@* <AuthorizeView> *@
    @* <Authorized> *@
        <PageHeader Title="TierList"/>
        <MudTable Style="cursor: pointer"
                  Breakpoint="Breakpoint.Sm"
                  Hover="true"
                  Items="TierListModels"
                  LoadingProgressColor="Color.Info"
                  T="TierListDto"
                  OnRowClick="RowClickEvent">
            <HeaderContent>
                <MudTh>Title</MudTh>
                <MudTh>Created</MudTh>
                <MudTh>Last Modified</MudTh>
                <MudTh>Code</MudTh>
            </HeaderContent>
            <RowTemplate Context="rowContext">
                <MudTd DataLabel="Title">@rowContext.Title</MudTd>
                <MudTd DataLabel="Created">@rowContext.CreatedOnUtc</MudTd>
                <MudTd DataLabel="Last Modified">@rowContext.UpdatedOnUtc</MudTd>
                <MudTd DataLabel="Code">@rowContext.ShareCode</MudTd>
            </RowTemplate>
        </MudTable>
        <MudStack Row="true" Class="my-2">
            <MudSpacer/>
            <MudButton Variant="Variant.Filled" Color="Color.Inherit" StartIcon="@Icons.Material.Outlined.Add" OnClick="OnAdd">Add</MudButton>
        </MudStack>
    @* </Authorized> *@
    @* <NotAuthorized> *@
    @*     <div> *@
    @*         <span>Nothing here !</span> *@
    @*     </div> *@
    @* </NotAuthorized> *@
@* </AuthorizeView> *@


@code {


    [CascadingParameter]
    protected UserState UserState { get; set; }

    [Parameter]
    public string Username { get; set; }

    private List<TierListDto> TierListModels { get; set; } = new();

    private void RowClickEvent(TableRowClickEventArgs<TierListDto> tableRowClickEventArgs)
    {
        NavigationManager.NavigateTo($"users/{UserState.Username}/tierlist/{tableRowClickEventArgs.Item.ShareCode}");
    }

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    private async Task OnAdd()
    {
        var tierListModel = new TierListDto {CreatorName = UserState.Username, UserName = UserState.Username, Title = "New Tierlist"};

        var result = await ApiService.AddTierList(UserState.Username, tierListModel);
        if (!result.IsError)
        {
            Snackbar.Add("Succeeded", Severity.Success);
            await FetchData();
            StateHasChanged();
        }
        else
        {
            Snackbar.Add("Failed", Severity.Error);
            Snackbar.Add(result.FirstError.Description, Severity.Error);
        }
    }

    private async Task FetchData()
    {
        TierListModels.Clear();

        var result = await ApiService.GetUserTierList(UserState.Username);
        if (!result.IsError)
        {
            TierListModels = result.Value;
        }
    }

}